# binaries
*.jar
overrides/mods/

# caches
/overrides/config/AppliedEnergistics2/CustomRecipes.cfg
/overrides/config/AppliedEnergistics2/items.csv
/overrides/config/thaumicjei_itemstack_aspects.json
/overrides/config/tool_progression/blocks.cfg

# defaults
/overrides/config/astralsorcery/amulet_enchantments.cfg
/overrides/config/biomesoplenty/biomes
/overrides/config/brandon3055/contributors.json
/overrides/config/codechicken
/overrides/config/splash.properties

# guides
/overrides/config/enderio/recipes/*.pdf

# client configs
/overrides/config/betterfps.json
/overrides/config/InvTweaks
/overrides/config/jei/bookmarks.ini
/overrides/config/jei/worldSettings.cfg
/overrides/config/MoreOverlays.cfg

# development
/overrides/config/Probe.cfg
/overrides/scripts/.zsrc
