# no mod binaries, beside overrides mods
*.jar
overrides/mods/*.jar
overrides/mods/memory_repo/

# Client side or "default" configs not needed
overrides/config/AppliedEnergistics2/aerecipes
overrides/config/biomesoplenty/biomes/defaults
overrides/config/jei/worldSettings\.cfg
overrides/config/betterfps\.json
overrides/config/InvTweaks\.cfg
overrides/config/MoreOverlays\.cfg
overrides/config/MouseTweaks\.cfg
overrides/config/AppliedEnergistics2/items\.csv
overrides/config/randomtweaks/data\.json
overrides/config/thaumicjei_itemstack_aspects\.json
overrides/config/brandon3055/contributors\.json
overrides/config/astralsorcery/amulet_enchantments\.cfg
overrides/config/InvTweaks/InvTweaksTree\.txt\.bak

overrides/config/enderio/recipes/
!overrides/config/enderio/recipes/user
overrides/config/enderio/recipes/user/
!overrides/config/enderio/recipes/user/user_recipes\.xml
overrides/config/tool_progression/blocks\.cfg

overrides/config/splash\.properties

overrides/config/AppliedEnergistics2/CustomRecipes\.cfg
