# Configuration file

general {
    # This is the amount of uses given to the Talisman of Remedium.
    # Min: 0
    # Max: 2147483647
    I:"Talisman of Remedium Uses"=100

    # Can Tinkers Construct tools be repaired in the repairer?
    B:"Tinkers Construct Compatibility"=true

    # This is the distance a block can be from a Transvector Dislocator
    # Min: 0
    # Max: 2147483647
    I:"Transvector Dislocator Distance"=10

    # This is the distance a block can be from a Transvector Interface
    # Min: 0
    # Max: 2147483647
    I:"Transvector Interface Distance"=4
}


