# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:APIARIST_ARMOR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30
    I:ArmorMaterial=15
    I:BAMBOO=9
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:B_ELEMENTIUM=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:CULTIST_LEADER=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_PLATE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_ROBE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25
    I:EXOSKELETON=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:FORTRESS=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:IC2_ALLOY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IC2_BRONZE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9
    I:JADE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK_SJ=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:JINGLE_DRESS=15
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANASTEEL=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANAWEAVE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:MUMMY=12
    I:OBSIDIAN=40
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:PSIMETAL=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_GOGGLES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_OVERALLS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:RAILCRAFT_STEEL=8
    I:REIN_EXOSKELETON=10
    I:RHINO=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0
    I:SILK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SPECIAL=25
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:THAUMIUM=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOIDROBE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:WANDERER=14
    I:armory=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:boron=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:boron_nitride=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:ceramics.clay=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ceramics.clay_raw=0
    I:compressedIron=9
    I:crystal=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:draconicArmor=20
    I:emerald=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:faradayChains=0
    I:glowing=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:hard_carbon=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:hazmat=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 50]
    I:pureMatter=50

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:spaceSuit=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:tcomplement.knightslime=4

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.manyullyn=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.steel=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tough=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10
    I:BRONZE=10
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:B_ELEMENTIUM=20
    I:CAVEMAN_CLUB=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:CVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DUMMY=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:FLINT=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15
    I:GLOWSTONE=18
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:IC2_BRONZE=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14
    I:JADE=18
    I:JADE_PAXEL=14
    I:LAZULI=8
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15
    I:MAGICAL=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:MANASTEEL=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MANASTEEL_GLASS=10
    I:OBSIDIAN=40
    I:OBSIDIAN2=50
    I:OSMIUM=12
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMALVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:PSIMETAL=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:RAILCRAFT_STEEL=9
    I:ROLLED_NEWSPAPER=0
    I:SCORPION_PINCER=12
    I:STEEL=10
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:THAUMIUM=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:THAUMIUM_ELEMENTAL=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10
    I:WAR_HAMMER=18
    I:WASP_DAGGER=12
    I:WASP_SWORD=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50
    I:crystal=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50
    I:emerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:khnumite=10
    I:nether=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:spaxelhoe_boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:spaxelhoe_boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:spaxelhoe_hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:spaxelhoe_tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:tough"=15
    I:power=44
    I:sandstone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25
}


